body {
    font-family: 'Arial', sans-serif;
    background-color:#C8C8C8;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header2, .header3 {
    color: white;
    padding-left: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #D8D8D8;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    background-color: #4285F4; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

button:hover {
    background-color: #357ae8;
}

input[type="text"] {
    padding: 8px;
    margin: 10px 20px;
    width: calc(40% - 50px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"]:focus {
    outline: none;
    border-color: #4285F4;
}

.login-box {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}